@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
  font-family: 'Roboto Mono', monospace;
  cursor: url('./public/cursors/normal.cur'), auto;
}
  
  body {
    margin: 0;
    padding: 0;
    background: url('./public/images/background.jpg');
    min-height: 100vh;
}


.main-container {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #fff;
}

th,
td {
  border: 1px solid black;
}
button {
  border-style: none;
  background-color: #000;
  border-radius: 5px;
  border: 3px solid #8E4348;
  color: #fff;
  font-size: 1.2rem;
  padding: 5px;
  transition: all .3s;
}
button:hover {
  cursor: url('./public/cursors/pointer.cur'), auto;
  transform: scale(1.05);
  color: #000;
  background-color: #fff;
}

.card {
  width: 110px;
  height: 140px;
  overflow: hidden;
  position: relative;
}

.face {
  background-size: cover;
  background: transparent;
  border-radius: 6px;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: all 0.4s;
}

.face img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.face img:hover {
  cursor: url('./public/cursors/pointer.cur'), auto;

}

.card-front {
  transform: perspective(700px) rotateY(180deg);
}

.card-back {
  transform: perspective(700px) rotateY(0);
}

.card.flipped .card-front {
  transform: perspective(800px) rotateY(0);
}

.card.flipped .card-back {
  transform: perspective(800px) rotateY(-180deg);
}
